.fontie{
  font-family: 'Faster One', cursive, !important;
}
.fontie2{
  font-family: 'Six Caps', sans-serif,!important;
  size: 50px ,!important;
}
.parallax-container {
    height: 500px;
 
  }
 .navie{
   background-color: dodgerblue !important;
 }

 .parallax { 
  /* The image used */
  background-image: url("../1.png");

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}