<nav class='navie'>
    <div class="nav-wrapper">
        <a href="#">car dealer</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          
        <li>
          <a href="/">Home <span class="sr-only"></span></a>
          </li>

          <li>
            <a href="/listings">Listings</a>
          </li>
       
          {% if session.logged_in %}
            <li>
              <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
              </li>
              <li>
                  <a href="/add">Add Listing</a>
              </li>
            {%else%}
          <li>
            <a href="/register">Register</a>
          </li>

        <li>
          <a href="/login">Login</a>
        </li>
    
        {%endif%}
        <li> {{ session.username }}</li>
      </ul>
    </div>
  </nav>
  