{%extends "layout.html"%} {%block body%}

<h1>Edit Listing</h1>
<form method="POST" action="">
  <div class="form-group">
    <h1>title: {{ listing.title }}</h1>
    <input type="textbox" name="title" value="{{ listing.title }}" />
  </div>
  <div class="form-group">
    <p>description:{{ listing.description }}</p>
    <input
      type="text"
      name="description"
      value="{{ listing.description }}"
      id="editor"
    />
  </div>
  <div class="form-group">
    <p>image url : {{ listing.picture }}</p>
    <input type="text" name="image" value="{{ listing.picture }}" />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>

{% endblock %}
