{%extends "layout.html"%} {%block body%}


<div class="col s12 m7">
    <h2 className="fontie">Hawt Weels</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../templates/css/1.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p className='fontie2'>A site to List and view vehicles posted by other users. </p>
        </div>
        <div class="card-action">
          <a href="/register">Get Started</a>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
