<!DOCTYPE html>
<html lang="en">
  <head>
    <title>myFLASK</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"  href='../static/css/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Six+Caps&display=swap" rel="stylesheet">
    <!-- <script> 
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, options);
      });
    </script> -->
   
    
  </head>
  <body>
    {% include "includes/_navBar.html" %}
      <div class="container">
        {%block body%} {% endblock %}
      </div>
      <!-- <div class="parallax-container">
          <div class="parallax"></div>
        </div> -->
    
   
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace("editor");

    </script>

{% include "includes/_footer.html" %}
  </body>
</html>
