{%extends "layout.html"%} {%block body%}

<div class="card-group">
  <div class="cards">
    <img class="card-img-top" src="{{ listing.picture }}" alt="car picture" />
    <div class="card-body">
      <h5 class="card-title">title:{{ listing.title }}</h5>
      <p class="card-text">description:{{ listing.description }}</p>
      <p>Price: {{ listing.price }}</p>
      <p></p>
      <p>Seller Name: {{ listing.userId }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Listing id: {{ listing.id }}</small>
    </div>
  </div>
</div>

<!-- <h1>id: {{ listing.id }}</h1>
<h1>title:{{ listing.title }}</h1>
<img src="{{ listing.picture }}" alt="car picture" />
<h3>description:{{ listing.description }}</h3>
<h3>price:{{ listing.price }}</h3>
<h3>seller: {{ listing.userId }}</h3> -->

{% endblock %}
